<p style="text-align: left;"><img style="display: block; margin-left: auto; margin-right: auto;" alt="" src="{{media url="wysiwyg/conteudo/ZOIUDINHO_4_FINAL.jpg"}}" height="286" width="1463" /></p>
<p style="text-align: center;"><em style="font-family: 'andale mono', times; font-size: xx-large;">O espa&ccedil;o pra voc&ecirc; tirar v&aacute;&aacute;&aacute;rias d&uacute;vidas sobre o universo da vis&atilde;o!</em></p>
<table style="border-color: #ffffff; border-style: solid; width: 1200px; height: 500px; border-width: 5px;" border="5">
    <tbody>
    <tr>
        <td><a href="https://www.okulos.com.br/oculos-ray-ban-clubmaster"><img title="Clubmaster Ray Ban, o Vintage Atemporal!" alt="" src="{{media url="wysiwyg/conteudo/conteudo_40.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/ray-ban-lente-polarizada"><img title="&Oacute;culos de Sol Ray Ban Polarizado! O Melhor do Melhor!" alt="" src="{{media url="wysiwyg/conteudo/conteudo_39.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/armacao-de-oculos-tamanho-ideal"><img title="Arma&ccedil;&atilde;o de &Oacute;culos: Qual o Tamanho Ideal?" alt="" src="{{media url="wysiwyg/conteudo/conteudo_42.png"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/oculos-ray-ban-masculino"><img title=" Onde Comprar &Oacute;culos Ray Ban Masculino Original? " alt="" src="{{media url="wysiwyg/conteudo_27.png"}}" height="400" width="400" /></a></td>
        <td>&nbsp;<a href="https://www.okulos.com.br/oculos-ray-ban-blaze"><img title="&Oacute;colus Ray Ban Blaze - Arrojado, Brilhante, &Uacute;nico!" alt="" src="{{media url="wysiwyg/conteudo_28.png"}}" height="400" width="400" /></a></td>
        <td>&nbsp;<a href="https://www.okulos.com.br/o-que-e-miopia"><img title="O que &eacute; Miopia?" alt="" src="{{media url="wysiwyg/conteudo_26.jpg"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/oculos-ray-ban-feminino"><img title="&Oacute;culos de Sol Ray Ban Feminino! Delicie-se com Centenas de Modelos!" alt="" src="{{media url="wysiwyg/conteudo/ray_ban_48.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/onde-compro-ray-ban-hexagonal-original-barato"><img title="&Oacute;culos de Sol Ray Ban Hexagonal! Voc&ecirc; n&atilde;o vai resistir!" alt="" src="{{media url="wysiwyg/conteudo/ray_ban_50.png"}}" height="400" width="400" /></a></td>
        <td>&nbsp;<a href="https://www.okulos.com.br/onde-comprar-ray-ban-barato-de-sol"><img title="&Oacute;culos de Sol Ray Ban Barato e Original!! Aqui Tem!" alt="" src="{{media url="wysiwyg/conteudo/ray_ban_49.png"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/onde-compro-ray-ban-original"><img title="Ray Ban Original voc&ecirc; encontra na Okulos!" alt="" src="{{media url="wysiwyg/conteudo/ray_ban_45.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/onde-comprar-oculos-de-grau-barato"><img title="&Oacute;culos de Grau Barato e com Qualidade Voc&ecirc; Acha Aqui!" alt="" src="{{media url="wysiwyg/conteudo/conteudo_24.jpg"}}" height="400" width="400" /></a></td>
        <td>&nbsp;<a href="https://www.okulos.com.br/qual-tamanho-certo-dos-oculos"><img title="Qual o Tamanho Correto dos Meus &Oacute;culos? " alt="" src="{{media url="wysiwyg/conteudo/conteudo_23.png"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/grazi-massafera-eyewear"><img title="Cole&ccedil;&atilde;o de &Oacute;culos Grazi Massafera - Porque Bonito &eacute; Ser Voc&ecirc;!" alt="" src="{{media url="wysiwyg/conteudo/GRAZI_9.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/ray-ban-beat"><img title="Ray-Ban Beat The Heat - O &Oacute;culos RayBan Round Repaginado" alt="" src="{{media url="wysiwyg/conteudo/ray_ban_42.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/como-escolher-sua-armacao/"><img title="Como escolho minha arma&ccedil;&atilde;o de &oacute;culos de grau?" alt="" src="{{media url="wysiwyg/conteudo/arma_o_15.jpg"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/oculos-oakley"><img title="Oakley - A Hist&oacute;ria da Marca, e centenas de modelos de &Oacute;culos de Sol Oakley e &Oacute;culos de Grau Oakley" alt="Hist&oacute;ria da Oakley" src="{{media url="wysiwyg/conteudo/oakley_19_1.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/como-utilizar-o-prove-aqui"><img title="Experimente milhares de modelos de &oacute;culos virtualmente, sem sair de casa. E tamb&eacute;m d&aacute; pra experimentar pelo celular!" alt="Experimente milhares de modelos de &oacute;culos virtualmente, sem sair de casa. E tamb&eacute;m d&aacute; pra experimentar pelo celular!" src="{{media url="wysiwyg/conteudo/PROVE_AQUI_7_1.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/conjuntivite-como-evitar"><img title="O que &eacute; conjuntivite? Como evitar a conjuntivite? Como tratar a conjuntivite? Tire algumas d&uacute;vidas aqui!" alt="O que &eacute; conjuntivite? Como evitar a conjuntivite? Como tratar a conjuntivite? Tire algumas d&uacute;vidas aqui!" src="{{media url="wysiwyg/conteudo/conjuntivite_13.jpg"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/oculos-ray-ban"><img title="&Oacute;culos Ray-Ban: sua hist&oacute;ria, seus &iacute;cones - Aviador, Justin, Wayfarer, New Wayfarer, Clubmaster, Round, Blaze! Saiba mais sobre seus modelos favoritos!" alt="&Oacute;culos Ray-Ban: sua hist&oacute;ria, seus &iacute;cones - Aviador, Justin, Wayfarer, New Wayfarer, Clubmaster, Round, Blaze! Saiba mais sobre seus modelos favoritos!" src="{{media url="wysiwyg/conteudo/Universidade2.jpg"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/hexavem"><img title="#Hexavem!!!!!!!! Todos unidos na mesma emo&ccedil;&atilde;o!" alt="#Hexavem!!!!!!!! Todos unidos na mesma emo&ccedil;&atilde;o!" src="{{media url="wysiwyg/conteudo/Universidade_5.jpg"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/oculos-prada"><img title="Prada - O surgimento e a evolu&ccedil;&atilde;o de uma das marcas de luxo mais desejadas em todo o mundo!" alt="Prada - O surgimento e a evolu&ccedil;&atilde;o de uma das marcas de luxo mais desejadas em todo o mundo!" src="{{media url="wysiwyg/conteudo/Universidade3.jpg"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/saiba-como-identificar-quando-um-oulos-rayban-e-original"><img title="Como saber se seus &oacute;culos Ray-Ban s&atilde;o originais!!" alt="Como saber se seus &oacute;culos Ray-Ban s&atilde;o originais!!" src="{{media url="wysiwyg/conteudo/ray_ban_original.jpg"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/presente-dia-dos-namorados"><img title="Deu Match? Ent&atilde;o agora &eacute; s&oacute; caprichar no presente do dia dos namorados!" alt="Deu Match? Ent&atilde;o agora &eacute; s&oacute; caprichar no presente do dia dos namorados!" src="{{media url="wysiwyg/conteudo/namorados_1.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/as-melhores-marcas-de-lentes-de-grau.html"><img title="Entenda um pouco mais sobre as melhores lentes de grau!" alt="Entenda um pouco mais sobre as melhores lentes de grau!" src="{{media url="wysiwyg/conteudo/marcas_logo_2.jpg"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/como-calcular-sua-distancia-pupilar"><img title="Veja como &eacute; f&aacute;cil calcular sua DP (Dist&acirc;ncia Pupilar) para seus &oacute;culos de grau!" alt="Veja como &eacute; f&aacute;cil calcular sua DP (Dist&acirc;ncia Pupilar) para seus &oacute;culos de grau!" src="{{media url="wysiwyg/conteudo/dp_menor.jpg"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/como-funciona-a-lente-multifocal"><img title="O que s&atilde;o lentes multifocais? Como funcionam? Sua vista precisa de lentes multifocais, ou de lentes simples? Tire suas d&uacute;vidas!" alt="O que s&atilde;o lentes multifocais? Como funcionam? Sua vista precisa de lentes multifocais, ou de lentes simples? Tire suas d&uacute;vidas!" src="{{media url="wysiwyg/conteudo/multifocal_3.png"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/lente-polarizada"><img title="O que s&atilde;o Lentes Polarizadas? N&oacute;s tiramos suas d&uacute;vidas aqui :)" alt="O que s&atilde;o Lentes Polarizadas? N&oacute;s tiramos suas d&uacute;vidas aqui :)" src="{{media url="wysiwyg/conteudo/polarizada_13.jpg"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td><a href="https://www.okulos.com.br/oculos-dolce-e-gabbana"><img title="&Oacute;culos Dolce &amp; Gabbana! Lentes e arma&ccedil;&otilde;es consideradas preciosidades pelos expoentes da moda!" alt="&Oacute;culos Dolce &amp; Gabbana! Lentes e arma&ccedil;&otilde;es consideradas preciosidades pelos expoentes da moda!" src="{{media url="wysiwyg/conteudo/dolce1_1.jpg"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/como-cuidar-dos-seus-oculos"><img title="#FicaDica de como cuidar bem dos seus &oacute;culos de sol e dos seus &oacute;culos de grau :)" alt="#FicaDica de como cuidar bem dos seus &oacute;culos de sol e dos seus &oacute;culos de grau :)" src="{{media url="wysiwyg/conteudo/cuidado.jpg"}}" height="400" width="400" /></a></td>
        <td><a href="https://www.okulos.com.br/rayban-aviador"><img title="Ray-Ban Aviador! Curiosidades sobre esse &iacute;cone &uacute;nico, que desafia as barreiras do tempo se mantendo eternamente contempor&acirc;neo!" alt="Ray-Ban Aviador! Curiosidades sobre esse &iacute;cone &uacute;nico, que desafia as barreiras do tempo se mantendo eternamente contempor&acirc;neo!" src="{{media url="wysiwyg/conteudo/AVIATOR.jpg"}}" height="400" width="400" /></a></td>
    </tr>
    <tr>
        <td>
            <a href="https://www.okulos.com.br/meu-filho-tem-problemas-de-visao"><img title="Meu filho tem problemas de vis&atilde;o? Vamos tentar ajudar voc&ecirc; a responder essa pergunta!" alt="Meu filho tem problemas de vis&atilde;o? Vamos tentar ajudar voc&ecirc; a responder essa pergunta!" src="{{media url="wysiwyg/conteudo/conteudo_crian_a_1.jpg"}}" height="400" width="400" /></a></td>
        <td>
            <a href="https://www.okulos.com.br/com-ou-sem-anti-reflexo"><img title="Lente anti-reflexo: &eacute; melhor com ou sem?" alt="Lente anti-reflexo: &eacute; melhor com ou sem?" src="{{media url="wysiwyg/conteudo/joao_8.jpg"}}" height="400" width="400" />
            </a>
        </td>
        <td>
            <a href="oculos-fundo-de-garrafa">
                <img title="Lente Fundo de Garrafa: Como diminuir este efeito?" alt="Lente Fundo de Garrafa: Como diminuir este efeito?" src="{{media url="wysiwyg/conteudo/fundo_Garrafa_5.png"}}" height="400" width="400" />
            </a>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><span style="font-family: 'andale mono', times; font-size: xx-large;"><em><img alt="" src="https://www.okulos.com.br/meu-filho-tem-problemas-de-visao" width="400" /></em></span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>