<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row" style="background-color: #fff; margin-top: -20px;">
    <div class="col-md-12">
        <div class="row"><br />
            <div class="col-md-4"></div>
            <div class="col-md-12">
                <div id="banner-slider-demo-12" class="owl-carousel owl-banner-carousel owl-bottom-narrow">
                    <div class="item"><img src="{{media url="wysiwyg/home/Primeiro_sombra_home.jpg"}}" width="1170" height="328" align="middle" /></div>
                    <div class="item"><img src="{{media url="wysiwyg/home/Segundo_sombra_home.jpg"}}" width="1170" height="328" align="middle" /></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" xml="space">// <![CDATA[
        //
        //
        //
        //
        //
        //
        //
        //
        //
        //
        require([
            'jquery',
            'owl.carousel/owl.carousel.min'
        ], function ($) {
            $("#banner-slider-demo-12").owlCarousel({
                items: 1,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                dots: true,
                nav: false,
                navRewind: true,
                animateIn: 'fadeIn',
                animateOut: 'fadeOut',
                loop: true
            });
        });
        //
        //
        //
        //
        //
        //
        //
        //
        //
        //
        // ]]></script>
        <br /> <br /> <br />
        <div class="container">
            <div class="row" style="padding-bottom: 10px; margin: 0 -10px;">
                <div class="col-md-3 col-6" style="padding: 0 10px; padding-bottom: 20px;">
                    <div style="margin-bottom: 15px;"><a class="image-link" href="#"> <img src="{{media url="wysiwyg/home/CONFIRA_OS_FAMOSOS_QUE_USAM_RAY-BAN_1_.jpg"}}" alt="" /></a></div>
                    <div style="margin-bottom: 15px;"><a class="image-link" href="https://ray-ban.okulos.com.br/infantil.html"> <img src="{{media url="wysiwyg/home/RAY-BAN_1_.jpg"}}" alt="" /></a></div>
                    <div style="margin-bottom: 0px;"><a class="image-link" href="https://ray-ban.okulos.com.br/curiosidades_ray_ban"><img src="{{media url="wysiwyg/home/HISToRIA_2.png"}}" alt="" /> </a></div>
                </div>
                <div class="col-md-3 col-6 md-order-12" style="padding: 0 10px; padding-bottom: 20px;">
                    <div style="margin-bottom: 15px;"><a class="image-link" href="https://ray-ban.okulos.com.br/lancamento.html"><img src="{{media url="wysiwyg/home/LAN_AMENTO_2_.jpg"}}" alt="" /></a></div>
                    <div style="margin-bottom: 15px;"><a class="image-link" href="https://ray-ban.okulos.com.br/oculos-de-sol/blaze.html"><img src="{{media url="wysiwyg/home/BLAZE.jpg"}}" alt="" /> </a></div>
                    <div style="margin-bottom: 0px;"><a class="image-link" href="https://blog.okulos.com.br"><img src="{{media url="wysiwyg/home/BLOG.jpg"}}" alt="" /> </a></div>
                </div>
                <div class="sm-clearer"></div>
                <div class="col-md-6" style="padding: 0 10px; padding-bottom: 20px;">
                    <div style="margin-bottom: 28px;"><a class="image-link" href="https://ray-ban.okulos.com.br/oculos-de-sol/aviador.html"><img src="{{media url="wysiwyg/home/AVIADOR.jpg"}}" alt="" /> </a></div>
                    <div style="margin-bottom: 28px;"><a class="image-link" href="https://ray-ban.okulos.com.br/oculos-de-sol/hexagonal.html"><img src="{{media url="wysiwyg/home/HEXAGONAL_1_.jpg"}}" alt="" /></a></div>
                    <div style="margin-bottom: 0px;"><a class="image-link" href="#"><img src="{{media url="wysiwyg/home/BEST_SELLERS.jpg"}}" alt="" /></a></div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>